body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1560px;
    padding: 0px 20px;
}

header{
    border-top: 12px solid #222222;

    .topbanner{
        padding-top: 30px;
        ul{
            text-align: center;
        }
        li {
            display: inline-block;
        }

        .buscar i {
            background-image: url(/arquivos/Shape.png);
            display: block;
            width: 12px;
            height: 12px;
            float: left;
            margin-right: 10px;
        }

        .cart i {
            background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAQDAwQDAwQEBAQFBQQFBwsHBwYGBw4KCggLEA4RERAOEA8SFBoWEhMYEw8QFh8XGBsbHR0dERYgIh8cIhocHRz/2wBDAQUFBQcGBw0HBw0cEhASHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBz/wgARCAAQAAwDAREAAhEBAxEB/8QAFwAAAwEAAAAAAAAAAAAAAAAABAUHCP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhADEAAAALGAjMy2f//EACUQAAEDAwMDBQAAAAAAAAAAAAMBBAYCBQcACCESFFITFRYiQv/aAAgBAQABPwC8ZNBkWZLQmOJnIYuwC7bB7WhvQIzkblQkPQquaOE6FSleKqdWrePHIbZbTaJvZZWxkIWYVN3TYXUZFo4LwX9a255dx5HcMRZneJ/Fml0IMzo4D3YAyjrMchVSula+F++t6PxbImV2F6jszjbpr7MEJSAfiKnqIY3jX49Gv//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQIBAT8AH//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQMBAT8AH//Z);
            display: block;
            width: 12px;
            height: 16px;
            float: left;
            margin-right: 10px;
            margin-top: -3px;
        }
        
        a{
            color: #000;
            padding: 0 30px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            display: block;
            float: left;
            font-size: 13px;
            line-height: 10px;
        }
    }

    h1.logoImg {
        background-image: url(/arquivos/logo-l.png);
        width: 432px;
        height: 29px;
        font-size: 0;
        display: block;
        margin: 120px auto 125px auto;
    }
}

main {
    border-bottom: 7px solid #00b8a4;
    .breadcrumb {
        padding: 0;
        background-color: transparent;
        margin: 0 0 35px 0;

        li {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            float: left;
            list-style-type: none;
            font-size: 12px;
            color: #000;

            &:last-child{
                color: #787878;
            }

            &:not(:last-child){
                &::after{
                    content: "\203A";
                    color: #ca8028;
                    margin: 0 10px;
                    font-size: 19px;
                    float: right;
                    line-height: 15px;
                }
            }
        }
    }

    .img{
        .main-img{
            img {
                width: 100%;
                height: auto;
            }
        }

        .thumbs{
            ul{
                float: left;
                padding: 0;
                margin-top: 10px;
            }

            li{
                float: left;
                list-style-type: none;

                &:not(:last-child){
                    margin-right: 20px;
                }
            }
        }
    } 

    .info {
        small{
            color: #6c8283;
            font-size: 12px;
            margin-bottom: 30px;
            display: block;

            &+ul{
                display: flex;
                width: 140px;
                justify-content: space-between;
                padding-left: 0;

                li{
                    float: left;
                    list-style-type: none;
                    cursor: pointer;

                    &.facebook{
                        background-image: url('/arquivos/facebook-share.png');
                        width: 8px;
                        height: 16px;
                        display: block;
                    }

                    &.twitter{
                        background-image: url('/arquivos/twitter-tweet.png');
                        width: 16px;
                        height: 14px;
                        display: block;
                    }

                    &.pinterest{
                        background-image: url('/arquivos/pinterest-pin.png');
                        width: 16px;
                        height: 16px;
                        display: block;
                    }
                }
            }
        }
        
        h2.titulo {
            font-size: 62px;
            font-family: 'Times New Roman', serif;
            color: #000;
            margin-bottom: 50px;
        }
        
        .price { 
            margin-bottom: 40px;

            span {
                display: block;
                
                &.precoDe{
                    color: #687e7f;
                    text-decoration: line-through;
                }

                &.precoPor{
                    color: #ca8028;
                    font-size: 32px;
                    margin-bottom: 10px;
                }

                &.precoParcelado{
                    font-size: 12px;
                    color: #687e7f;
                }
            
            }
        }

        .sku{
            margin-bottom: 40px;

            strong{
                font-size: 11px;
                text-transform: uppercase;
                color: #000;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                display: block;
                margin-bottom: 15px;
            }

            select{
                font-size: 12px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                border: 2px solid #dddddd;
                padding: 10px 10px;
                width: 225px;
            }
        }

        .buyBt{
            width: 100%;
            display: block;
            float: left;
            margin-bottom: 50px;

            a.buybutton {
                color: #fff;
                background-color: #951a91;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                max-width: 350px;
                display: block;
                float: left;
                height: 70px;
                line-height: 71px;
                margin-right: 50px;
            }
            
            a.wishlist {
                color: #000;
                text-decoration: none;
                padding: 27px 0;
                float: left;
                line-height: 13px;

                &::before {
                    content: "";
                    display: block;
                    float: left;
                    background-image: url('/arquivos/wishlist.png');
                    width: 16px;
                    height: 15px;
                    margin-right: 10px;
                }
            }
        }

        .InfoProduto{
            float: left;
            width: 100%;
            margin-bottom: 65px;

            p{
                margin-bottom: 40px;
            }

            p, li{
                line-height: 30px;
                color: #222222;
            }
        }

        .frete {
            strong{
                font-size: 11px;
                text-transform: uppercase;
                color: #000;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                display: block;
                margin-bottom: 15px;

                & + span {
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            input{
                font-size: 12px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                border: 2px solid #dddddd;
                padding: 10px 10px;
                width: 225px;
                float: left;
                margin-right: 20px;

                & + a{
                    color: #00b8a4;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: "Open Sans", sans-serif;
                    padding: 10px 0;
                    float: left;
                }
            }

            span.result {
                ul {
                    list-style-type: none;
                    padding: 0;
                }

                li {
                    text-transform: uppercase;
                    font-family: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .enjoyToo {
        margin-top: 115px;
        margin-bottom: 145px;

        h3.subtitulo {
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            margin: 0 0 90px 0;
            position: relative;

            &::before{
                content: "";
                width: 55px;
                height: 1px;
                display: block;
                position: absolute;
                background-color: #ca8028;
                left: 0;
                right: 0;
                margin: auto;
                top: 45px;
            }
        }

        img{
            width: 100%;
            height: auto;
        }

        ul{
            float: left;
            padding-left: 0;
            width: 100%;
        }

        li {
            width: 21%;
            float: left;
            list-style-type: none;
            position: relative;

            &:not(:last-child){
                margin-right: 5%;
            }

            .flag {
                position: absolute;
                right: 0;
                top: 10px;
                background-color: #000;
                color: #fff;
                font-size: 11px;
                font-family: 'Opens Sans', sans-serif;
                font-weight: 600;
                padding: 5px 10px;
            }

            h4{
                font-size: 27px;
                font-family: 'Times New Roman', serif;
                color: #000;
                margin-bottom: 15px;
                float: left;
                width: 100%;
                height: 60px;
                margin-top: 15px;
            }

            .precoDe{
                font-size: 18px;
                float: left;
                margin-right: 15px;
                text-decoration: line-through;
                color: #787878;
            }

            .precoPor{
                font-size: 18px;
                float: left;
                color: #ca8028;
            }
            
            .precoDivido{
                display: block;
                clear: both;
                font-size: 15px;
                color: #787878;
            }
        }
    }
}

footer{
    background-color: #222222;
    border-top: 1px solid #fff;
    padding-top: 75px;
    padding-bottom: 40px;
    float: left;
    width: 100%;

    h3.subtitulo {
        margin: 0 0 20px 0;
        color: #fff;
        text-transform: uppercase;
    }

    input[type="text"] {
        background-color: #404040;
        color: #d3d3d3;
        border: none;
        display: block;
        padding: 15px;
        margin-bottom: 10px;
    }

    button {
        border: 2px solid #848484;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        padding: 10px 20px;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        color: #a8a8a8;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
    }

    small {
        color: #a8a8a8;
        margin-top: 20px;
        display: block;
    }

    .flags {
        padding-top: 45px;

        li{
            float: left;

            &:not(:last-child){
                margin-right: 10px;
            }
        }

        span.certisign {
            position: relative;
            top: -20px;
            margin-left: 30px;
        }
    }

    .InfoLoja, .flags{
        margin-top: 130px;
    }
}